.datagrid-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #868686;
    box-sizing: border-box;
    background: gray;
}

.grid-header {
    display: flex;
    width: 100%;
    height: 10%;
    color: #868686;
}

.grid-content {
    display: flex;
    /* color: white; */
}

.grid-pager {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background: white;
    color: #868686;
}