
.menubar-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 35%;
    margin-top: -16.2%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    box-shadow: 0 0 3pt 1.5pt #cfcfcf;
    opacity: 0.8;
}

.comp-header-title{
    display: flex;
    width: 100%;
    height: 10%;
    font-size: 100%;
    color: '#6B737C';
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.comp-content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.comp-title {
    width: 90%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    height: 30%;
    font-size: 90%;
    margin-top: 5%;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

