.elements-panel-wrapper {
    position: absolute;
    display: flex;

    justify-content: center;

    -moz-user-select: none;
    user-select: none;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;

    width: 100%;
    height: 15%;

    z-index: 999999;


}



.inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:65%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    background: #E0E0E0;
    box-shadow: 0 0 3pt 1.5pt #cfcfcf;
    /*opacity: 0.8;*/
}

.category-tabs-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 99%;
    flex-shrink: 0.5;
    overflow-y: auto;
}

.category-tab-title {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    font-size: 85%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;

}


.category-elements-wrapper {
    display: flex;
    width: 97%;
    justify-content: flex-start;
    flex-shrink: 0.25;
    align-items: center;
    border-radius: 7px;
    overflow-y: auto;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0 0 3pt 1.5pt #cfcfcf;
    background: white;
}


.category-elements-footer {
    display: flex;
    justify-content: center;
    width: 99%;
    flex-shrink: 0.6;
    font-size: 80%;
}

.category-elements-footer > span {
    cursor: pointer;
}

.selected-text {
    color: #2f00ff;
    font-weight: bold;
}

.selected-text-flex-clean {
    height: 50%;
}

.elements-panel-wrapper-toggled {
    position: absolute;
    display: flex;

    justify-content: center;

    -moz-user-select: none;
    user-select: none;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;

    width: 100%;
    height: 5%;

    z-index: 999999;


}

.inner-wrapper-toggled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:65%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    background: #E0E0E0;
    box-shadow: 0 0 3pt 1.5pt #cfcfcf;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /*opacity: 0.8;*/
}