*, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.App {
  background: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Router-wrapper {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

/* #282c34 */
